:root{
   --primary-color: #ff66c4
}
*{
    font-family: "Rowdies", sans-serif;
   
}

.navbar{
/* background-color:  #d496a7; */
background-color: #E3BAC3;
}

body{
    background-color:#ffff ;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.rowdies-regular {
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.container-fluid img{
    border-radius: 50px;
    transition: all 0.2s;
}
.logo:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 5px 5px rgba(255, 255, 255, 0.793);
}
h1{
    transition: all 0.3s;
}
h1:hover{
    transform: scale(1.2);
    box-shadow: rgba(255, 20%, 50%);
    filter: drop-shadow(6px 6px 3px #f3eaea);
}
.botoncito{
    background-color: white;
    color: #d496a7;
}
.botoncito:hover{
    background-color: #d496a7;
    color: white;
}
.text-hero{
    background-color: #f4e1e1e3;
    border: 5px solid lue;
    max-width: 600px;
    height: 400px;
    margin-top: 40px;
    padding-top: 45px;
    border-radius: 25px;
    box-shadow: 7px 3px 28px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 7px 3px 28px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 3px 28px 3px rgba(0,0,0,0.75);
}

.titulonav{
   margin-left: 40px;
}
.titulo2{
    /* border: 3px solid black; */
    width: 500px;
    display: flex;
    justify-content: center;
   align-items: center;
   margin-left: 65px;
}

.cont-galeria{
/* margin-left: 50px; */
/* margin-top: 40px; */
margin-bottom: 20px;
}

.galeria{
    display: flex;
    width: 100%;
    height: 550px;

}
.galeria img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .9;
    transition: .5s ease;
}
.galeria img:hover{
    cursor: pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);

}
.titulo-galeria{
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #E3BAC3;
    width: 100%;
    height: 45px;
    font-size: 40px;
}


.footer {
    background-color: #e18296;
    color: #fff;
   
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-column {
    flex: 1;
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-column h4 {
    font-size: 18px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ff7f50;
    display: inline-block;
    padding-bottom: 5px;
}

.footer-column p,
.footer-column ul,
.footer-column li {
    font-size: 16px;
    line-height: 1.6;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-column ul li a:hover {
    color: #ff7f50;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.footer-bottom {
    background-color: black;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #444;
    
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
    color: #ccc;
}
.seccion-footer{
    margin-top: 15px;
}


